@model IEnumerable<ProjIntegrador.Models.Produto>

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Home
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card border-primary mb-3" style="width: 18%; margin-right: 2%;">

                    <img class="card-img-top" src="@Url.Content(item.ImagemProdudo)" alt="imagem">
                    @if (item.Status == ProjIntegrador.Models.StatusEnum.Inativo)
                    {
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descricao)</h5>
                            <p>Produto Indisponível</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Me avise</a>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descricao)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.DetalheProduto)</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Saber Mais</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>