@model ProjIntegrador.Models.Instalador

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Instalador
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Index", "Instalador", null, new { @class = "btn-wide btn btn-success mb-3" })
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Deletar Instalador
                    </div>
                    <br />

                    <div style="padding: 0 25px; margin: 10px 0;">
                        <div class="dl-horizontal">
                            <div class="col-md-3">
                                <dt>
                                    ID
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.InstaladorId)
                                </dd>
                            </div>
                        </div>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Deletar Instalador" class="btn-wide btn btn-success mb-3" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
