@model ProjIntegrador.Models.Vendedor

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Vendedores
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Index", "Vendedor", null, new { @class = "btn-wide btn btn-success mb-3" })
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Detalhes do Vendedor
                    </div>

                    <div style="padding: 0 25px; margin: 10px 0;">
                        <div class="col-md-3">
                            <dt>
                                ID do Funcionário
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FuncionarioId)
                            </dd>
                        </div>

                        <div class="col-md-3">
                            <dt>
                                Comissão
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Comissao)
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
